.reveal {
    section {
        height: 100%;
        width: 100%;
    }
    .source {
        font-size: 0.5em;
        position: absolute;
        bottom: 5%;
        left: 0;
    }
}

/* -----------------------------------------------------------------------------
   --- sections / slides
   ---------------------------------------------------------------------------*/

   section#title {

   }

   section#geo-projections-mercator {
       position: relative;
       ol {
           font-size: 0.8em;
           display: inline-block;
           width: 45%;
           left: 0;
       }
       img {
           width: 45%;
           left: 0;
       }
   }


.tooltip {
    background: #FFF;
    color: #2c3e50;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
    padding: 0.2em;
    border-radius: 0.2em;
}
/* -----------------------------------------------------------------------------
   --- utils
   ---------------------------------------------------------------------------*/
.reveal {
    .text-left {
        text-align: left;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-light,
    h1.text-light,
    h2.text-light,
    h3.text-light,
    h4.text-light,
    h5.text-light,
    h6.text-light {
        font-weight: 200;
    }
}
/* -----------------------------------------------------------------------------
   --- fix for leaflet inside .reveal
   ---------------------------------------------------------------------------*/
.reveal .leaflet-container img {
    max-width: none;
    max-height: none;
}
.reveal section .leaflet-container img {
    margin: inherit;
    background: none;
    border: none;
    box-shadow: none;
}
