.reveal {
    section {
        height: 100%;
        width: 100%;
    }
    .source {
        font-size: 0.5em;
        position: absolute;
        bottom: 5%;
        left: 0;
    }
    section#slide-story {
        img.story {
            position: absolute;
            min-width: 30px;
            min-height: 30px;
        }
        img.story-01 {
            width: 300px;
            left: 10%;
            top: 10%;
        }
        img.story-02 {
            width: 300px;
            left: 20%;
            top: 60%;
        }
        img.story-03 {
            width: 300px;
            left: 50%;
            top: 0;
        }
        img.story-04 {
            width: 300px;
            left: 65%;
            top: 40%;
        }
    }
    #slide-story-osm2tileserver {
        .map-left,
        .map-right {
            position: absolute;
            top: 15%;
            height: 50%;
        }
        .map-left {
            left: 5%;
        }
        .map-right {
            left: 60%;
        }
        .map-arrow {
            position: absolute;
            top: 35%;
            left: 45%;
            height: 10%;
        }
    }
    #slide-04 {
        .alternatives {
            position: absolute;
            width: 50%;
            &:nth-of-type(1) {
                top: 10%;
                left: 0;
            }
            &:nth-of-type(2) {
                top: 25%;
                right: 0;
            }
            &:nth-of-type(3) {
                top: 50%;
                left: 0;
            }
            &:nth-of-type(4) {
                bottom: 0;
                right: 5%;
            }
        }
    }
    #slide-projections-transform {
        #projection-menu {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .stroke {
            fill: none;
            stroke: #000;
            stroke-width: 3px;
        }
        .fill {
            fill: #fff;
        }
        .graticule {
            fill: none;
            stroke: #777;
            stroke-width: 0.5px;
            stroke-opacity: 0.5;
        }
        .land {
            fill: #222;
        }
        .boundary {
            fill: none;
            stroke: #fff;
            stroke-width: 0.5px;
        }
    }
    #slide-projections-mercator {
        position: relative;
        ol {
            font-size: 0.8em;
            display: inline-block;
            width: 45%;
            left: 0;
        }
        img {
            width: 45%;
            left: 0;
        }
    }
    #slide-d3-mapping {
        pre {
            width: 100%;
            code {
                height: 200px;
                transition: height 0.5s ease-out;
                &:active,
                &:focus,
                &:hover {
                    height: 500px;
                }
            }
        }
        .states {
            fill: none;
            stroke: #fff;
            stroke-linejoin: round;
        }
    }
    #slide-d3-visualize-data-stores {
        #mapStores {
            width: 100%;
            height: 100%;
        }
    }
    #silide-tiles-whatis {
        .tiles-vendors {
            list-style: none;
            z-index: 10;
            position: relative;
            display: block;
            li {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                img {
                    width: 90%;
                }
            }
            li:nth-child(2) {
                top: 50px;
                left: 30px;
            }
            li:nth-of-type(3) {
                top: 80px;
                left: 60px;
            }
            li:nth-of-type(4) {
                top: 110px;
                left: 90px;
            }
            li:nth-of-type(5) {
                top: 140px;
                left: 120px;
            }
        }
        .tiles-bars {
            z-index: 100;
            position: absolute;
            left: 0;
            top: 150px;
        }
    }
    #slide-tiles-tilenames {
        img {
            position: absolute;
            width: 30%;
            &:nth-of-type(1) {
                left: 0;
                top: 15%;
            }
            &:nth-of-type(2) {
                left: 10%;
                top: 30%;
            }
            &:nth-of-type(3) {
                left: 20%;
                top: 45%;
            }
        }
        pre {
            position: absolute;
            width: 80%;
            top: 20%;
            left: 10%;
        }
    }
    #slide-tiles-tiles-list,
    #slide-tiles-tiles-size {
        table {
            font-size: 0.7em;
            thead {
                color: #2c3e50;
                background: #ecf0f1;
            }
            tbody {
                font-weight: 400;
                tr:nth-child(even) {
                    td {
                        background: #2980b9;
                    }
                }
                td {
                    border: none;
                    background: #3498db;
                }
            }
        }
    }
    #slide-tiles-tiles-size {
        table {
            td:nth-child(2),
            td:nth-child(3),
            td:nth-child(4),
            td:nth-child(5) {
                text-align: right;
            }
        }
    }
    #slide-import-postgresql {
        p {
            font-size: 0.6em;
        }
    }
    #slide-architecture-layers {
        span {
          position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            perspective: 2000px;
            img.layer {
                transition: all 0.2s ease-out;
                position: absolute;
                margin: 0;
                border: 0;
                transform-style: preserve-3d;
                left: -100px;
                transform: rotateX(71deg) rotateZ(-45deg) scale(1);// scale(0.001);
            }
            h4 {
              position: absolute;
              left: 700px;
            }
            &.visible {
              img.layer {
                transform: rotateX(71deg) rotateZ(-45deg) scale(0.3);
              }
            }
        }

        span:nth-of-type(1) { img.layer { top: 100px; z-index: 10; } h4 { top: 400px; } }
        span:nth-of-type(2) { img.layer { top: 50px; z-index: 20; } h4 { top: 350px; }  }
        span:nth-of-type(3) { img.layer { top: 0px; z-index: 30; } h4 { top: 300px; }  }
        span:nth-of-type(4) { img.layer { top: -50px; z-index: 40; } h4 { top: 250px; }  }
        span:nth-of-type(5) { img.layer { top: -100px; z-index: 50; } h4 { top: 200px; }  }
        span:nth-of-type(6) { img.layer { top: -150px; z-index: 60; } h4 { top: 150px; }  }
        span:nth-of-type(7) { img.layer { top: -200px; z-index: 70; } h4 { top: 100px; }  }
    }

    #slide-projections-projections,
    #slide-projections-recommended-general {
      text-align: left;
      ul {
        font-size: 0.4em;
      }
    }

  #slide-d3-visualize-data-poland {
    pre {
      width: 100%;
      code {
        height: 100px;
        transition: height 0.5s ease-out;
        &:active,
        &:focus,
        &:hover {
          height: 500px;
        }
      }
    }
  }

}
.tooltip {
    background: #FFF;
    color: #2c3e50;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
    padding: 0.2em;
    border-radius: 0.2em;
}
/* -----------------------------------------------------------------------------
   --- utils
   ---------------------------------------------------------------------------*/
.reveal {
    .text-left {
        text-align: left;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-light,
    h1.text-light,
    h2.text-light,
    h3.text-light,
    h4.text-light,
    h5.text-light,
    h6.text-light {
        font-weight: 200;
    }
}
/* -----------------------------------------------------------------------------
   --- fix for leaflet inside .reveal
   ---------------------------------------------------------------------------*/
.reveal .leaflet-container img {
    max-width: none;
    max-height: none;
}
.reveal section .leaflet-container img {
    margin: inherit;
    background: none;
    border: none;
    box-shadow: none;
}
